nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li.active a {
    color: #4CAF50; /* Change color of active tab */
    font-weight: bold; /* Add bold font for active tab */
}

.search-container {
    text-align: center;
    margin-top: 50px;
}

.search-container input[type=text] {
    padding: 10px;
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.search-container button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.search-container button:hover {
    background-color: #45a049;
}

.results-container {
    margin-top: 50px;
}

.result {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

.result h3 {
    margin-top: 0;
}

.result p {
    margin-bottom: 10px;
}

.result img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
