body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #222;
    padding: 20px;
    text-align: center;
}

#title {
    font-size: 48px;
    color: #ff0; /* Neon yellow */
    text-shadow: 0 0 10px #ff0, 0 0 20px #ff0, 0 0 30px #ff0, 0 0 40px #ff0; /* Neon glow effect */
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
}

#g-signin2 {
    margin-bottom: 20px;
}

input[type="text"], select {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#searchResults {
    margin-top: 20px;
}

.game {
    margin-bottom: 10px;
}

.game img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border-radius: 5px;
}

.game .details {
    display: inline-block;
    vertical-align: top;
}

.game .title {
    font-size: 18px;
    font-weight: bold;
}

.game .category {
    font-size: 14px;
    color: #888;
}
